body{
    margin: 10px;
    background-image: url('image/image-fond2.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}
.contenu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.mon-lecteur {
    max-width: 450px;
    height: 600px;
    margin: 40px auto 20px auto;
    overflow: hidden;
    border: 3px solid #fec61a;
    box-shadow: 0 0 15px #fec61a;
    border-radius: 30px;
    padding: 15px;
    background: rgb(11,11,11,) ;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.conteneur-images {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Animation de glisse */
    scroll-snap-type: x mandatory;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    height: auto;

}

/* Cache la barre de défilement moche sous les images */
.conteneur-images::-webkit-scrollbar {
    display: none;
}

.slide {
    min-width: 100%; /* Chaque artiste prend toute la place */
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 1000000px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.slide img {
    width: 100%;
    height: 350px;
    object-fit: cover; /* Évite de déformer les photos */
    border-radius: 20px;
}

audio {
    width: 90%;
    height: 45px;
    
}

.controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  10px;
    margin-top: -200px;
    position: relative;
    z-index: 10;
}

.fleche {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    color: gold;
    padding: 5px 5px;
    background:  rgba(0,0,0,0.2);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.slide img {
    box-shadow: 0 10px 20px black; /* Ajoute une ombre élégante sous la photo */
    border: 3px solid white;
}
.titre-musique {
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2rem;
    color: gold ;
    margin: 10px 0 5px 0;
    font-weight: bold;
}


/* Bouton de retour à la page d'accueil */
.btn-retour {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #fec61a;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(254, 198, 26, 0.5);
    z-index: 1000;
    transition: 0.3s;
}

.btn-retour:hover {
    transform: scale(1.1);
    background-color: white;
}
/* Le Footer */
.main-footer {
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8); /* Noir transparent pour laisser voir le fond */
    color: #888;
    font-size: 0.9rem;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
}

.main-footer span {
    color: gold; /* Met vos surnoms en valeur */
    margin: 0 10px;
    font-weight: bold;
}